.input-token form{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.input-token{
    display: flex;
    justify-content: center
}
.wrapper{
    margin-top: 50px;
    /* margin-bottom: 100px; */
   
}

.frame{
    background: #FFFFFF;
    border: 1px solid #C3CADE;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(54, 79, 145, 0.3);
    border-radius: 8px;
    padding: 50px;
}

.frame input{
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    padding: 10px;
}

.token-harga{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background: #C3CADE;
    border-radius: 8px;
    margin-top: 50px;
}

.harga-token{
    background: #FFFFFF;
    border-radius: 6px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.harga-token:hover{
    cursor: pointer;
    background: #122E3D;
    color:  #FFFFFF;
}

.harga-token-selected{
    background-color:#122E3D; 
    color: #FFFFFF;
}
  

.harga-token p{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    width: 120px;
    line-height: 25px;
    /* identical to box height, or 157% */
    text-align: center;
}


.confirm-btn{
    background: #4493AC;
    box-shadow: 0px 4px 10px rgba(33, 68, 87, 0.2);
    border-radius: 6px;
    color: #FFFFFF;
    padding: 20px;
    font-weight: bold;
    font-size: 17px;
    width: 15vw;
    text-align: center;
    border: none;
}

.confirm-buttn{
    background: #4493AC;
    box-shadow: 0px 4px 10px rgba(33, 68, 87, 0.2);
    border-radius: 6px;
    color: #FFFFFF;
    padding: 20px;
    font-weight: bold;
    font-size: 17px;
    width: 15vw;
    text-align: center;
    border: none;
}

.disable-btn{
    background: #999999;
    box-shadow: 0px 4px 10px rgba(33, 68, 87, 0.2);
    border-radius: 6px;
    color: #FFFFFF;
    padding: 20px;
    font-weight: bold;
    font-size: 17px;
    width: 15vw;
    text-align: center;
}

.disable-buttn{
    background: #999999;
    box-shadow: 0px 4px 10px rgba(33, 68, 87, 0.2);
    border-radius: 6px;
    color: #FFFFFF;
    padding: 20px;
    font-weight: bold;
    font-size: 17px;
    width: 15vw;
    text-align: center;
}

.link{
    text-decoration: none;
}

.confirm-btn:hover{
    background: #122E3D;
}

.confirm-buttn:hover{
    cursor: pointer;
    background: #122E3D;
}

.btn-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 767px){
    .wrapper{
        margin-bottom: 0px;
    }
    .frame{
        padding:20px 5px;
        margin: 10px 0px;
    }

    .input-token form{
        display: flex;
        width: 100%;
    }

    .input-token form input[type='number']{
        width: 100%;
    }

    .token-harga{
        padding: 10px;
        justify-content: flex-start;
    }

    .harga p{
        font-size: 12px;
        width: 80px;
    }

    .confirm-btn,
    .disable-btn{
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        font-size: 15px;
    }

    .confirm-buttn,
    .disable-buttn{
        width: 100%;
        padding: 10px;
        font-size: 15px;
    }

    .btn-wrapper{
        margin: 50px 0px;
        justify-content: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .input-token form{
        display: flex;
        width: 70%;
    }

    .harga p{
        width: 100px;
    }

}